@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,600&display=swap');


/* variables */


:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);

}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
  appearance: none;
}

body{
   width: 100vw;
   height: 100vh;
   font-size: .7rem;
   user-select: none;
   overflow-x: hidden;
   background: var(--clr-color-background);
   font-family: 'Poppins', sans-serif;
}

.container  {
  display: grid;
  width: 96%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
  margin: 0 auto;
}

a{
  color: var(--clr-dark);
}

h1{
  font-weight: 800;
  font-size: 2.8rem;
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 0.87;
}
h4{
  font-weight: 0.8rem;
}
h5{
  font-size: 0.77rem;
}
small{
  font-size: 0.75rem;
}
.profile-photo img{
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
  border-radius: 50%;
}
.text-muted{
  color: var(--clr-info-dark);
}
p{
  color: var(--clr-dark-variant);
}
b{
  color: var(--clr-dark);
}
.primary {
  color: var(--clr-primary);
}

.success {
  color: var(--clr-success);
}

.danger {
  color: var(--clr-danger);
}

.warning {
  color: var(--clr-warnig);
}


/* aside */
 aside{
  height: 100vh;
 }
 aside .top{
  background: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
 }

 aside .logo{
   display: flex;
   gap: 1rem;
 }
 aside .logo img{
   width: 2rem;
   height: 2rem;
 }
 aside .top div.close span{
   display: none;
 }

 /* ===================
 Sidebar
 ================== */

 aside .sidebar{
  background: var(--clr-white);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 1rem;
 }

 aside h3{
  font-weight: 500;
 }

 aside .sidebar a{
  display: flex;
  color: var(--clr-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height: 3.3rem;
  transition: all .1s ease;
 
 }

 aside .sidebar a span{
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  
 }

 aside .sidebar a:last-child{
  position: absolute;
  bottom: 1rem; 
  width: 100%;
 }

 aside .sidebar a.active{
   background-color: var(--clr-light);
   color: var(--clr-primary);
   margin-left: 0;
   border-left: 5px solid var(--clr-primary);
   margin-left: calc(1rem - 3px);
 }
 aside .sidebar a:hover span{
  margin-left: 1rem;
 }

 aside .sidebar a span.msg_count{
   background-color: var(--clr-danger);
   color: var(--clr-white);
   padding: 2px 5px;
   font-size: 11px;
   border-radius: var(--border-radius-1);
 }

main{
  width: 100%;
  margin-bottom: 1rem;
}
.upper{
  padding: 10px;
  margin-bottom: 0.5rem;
}

.shipment-delivery-analytics-main{
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.shipping-small{
  width: 19rem;
  display: flex;
  justify-content: space-between;
}

.admin-name{
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h4, h2, h3, h5{
  margin: 0px;
}
.shipment-delivery-analytics-main i{
  margin: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.shipment-delivery-analytics {
  position: relative;
  top: 1rem;
  color: #363949;
}

.upper .postal-code {
    display: flex;
    justify-content: space-between;
}

.postal-code button {
    border-radius: 0.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border: 1px solid black;
}

.postal-code button:hover {
    background-color: red;
    border: 1px solid black;
    color: white;
    cursor: pointer;    
}

.created-success {
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lower {
    margin-bottom: 0.5rem;
    background-color: #b7b9cf;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.lower-confirmed {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lower-confirmed div {
    width: 50%rem;
}

.lower-left button {
    border-radius: 0.3rem;
    padding: 0.3rem;
    border: 1px solid black;
}

.lower-right button {
    border-radius: 0.3rem;
    padding: 0.5rem;
    border: 1px solid black;    
}

.lower-right #consignment-id {
    background-color: green;
    color: white;
}

.lower-right button:hover {
    cursor: pointer;
}

.footer h3{
    text-align: center;
}