@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,600&display=swap');


/* variables */


:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);

}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
  appearance: none;
}

body{
   width: 100vw;
   height: 100vh;
   font-size: .7rem;
   user-select: none;
   overflow-x: hidden;
   background: var(--clr-color-background);
   font-family: 'Poppins', sans-serif;
}

.container  {
  display: grid;
  width: 96%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
  margin: 0 auto;
}

a{
  color: var(--clr-dark);
}

h1{
  font-weight: 800;
  font-size: 2.8rem;
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 0.87;
}
h4{
  font-weight: 0.8rem;
}
h5{
  font-size: 0.77rem;
}
small{
  font-size: 0.75rem;
}
.profile-photo img{
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
  border-radius: 50%;
}
.text-muted{
  color: var(--clr-info-dark);
}
p{
  color: var(--clr-dark-variant);
}
b{
  color: var(--clr-dark);
}
.primary {
  color: var(--clr-primary);
}

.success {
  color: var(--clr-success);
}

.danger {
  color: var(--clr-danger);
}

.warning {
  color: var(--clr-warnig);
}


/* aside */
 aside{
  height: 100vh;
 }
 aside .top{
  background: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
 }

 aside .logo{
   display: flex;
   gap: 1rem;
 }
 aside .logo img{
   width: 2rem;
   height: 2rem;
 }
 aside .top div.close span{
   display: none;
 }

 /* ===================
 Sidebar
 ================== */

 aside .sidebar{
  background: var(--clr-white);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 1rem;
 }

 aside h3{
  font-weight: 500;
 }

 aside .sidebar a{
  display: flex;
  color: var(--clr-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height: 3.3rem;
  transition: all .1s ease;
 
 }

 aside .sidebar a span{
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  
 }

 aside .sidebar a:last-child{
  position: absolute;
  bottom: 1rem; 
  width: 100%;
 }

 aside .sidebar a.active{
   background-color: var(--clr-light);
   color: var(--clr-primary);
   margin-left: 0;
   border-left: 5px solid var(--clr-primary);
   margin-left: calc(1rem - 3px);
 }
 aside .sidebar a:hover span{
  margin-left: 1rem;
 }

 aside .sidebar a span.msg_count{
   background-color: var(--clr-danger);
   color: var(--clr-white);
   padding: 2px 5px;
   font-size: 11px;
   border-radius: var(--border-radius-1);
 }

main{
  width: 100%;
}
.upper{
  padding: 10px;
}

.shipment-delivery-analytics-main{
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.shipping-small{
  width: 19rem;
  display: flex;
  justify-content: space-between;
}

.admin-name{
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h4, h2, h3, h5{
  margin: 0px;
}
.shipment-delivery-analytics-main i{
  margin: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.shipment-delivery-analytics {
  position: relative;
  top: 1rem;
  color: #363949;
}

.upper .filters {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
}

.filters .shipper-date {
  background-color: #8fc8c9;
  height: 2rem;
  width: 16rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 0.7rem;
  border-radius: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}



.filters .shipper-date{
  box-sizing: border-box;
}

.filters .shipper-date:hover {
  border: 1px solid black;
  cursor: pointer;
}

.dropdown {
  /* padding-left: 0.3rem; */
  min-width: 17em;
  position: relative;
  /* margin: 2rem; */
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  padding-left: 0.3rem;
  padding-right: 0.7rem;
  height: 2rem;
  background-color: #8fc8c9;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
  /* border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em; */
  cursor: pointer;
}

/* .select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a; 
} */

.select:hover {
  border: 1px solid black;
  /* background: #323741; */
}

.caret {
  color: black;
  width: 0;
  height: 0;
  padding-right: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding-right:0.3em 0.5em;
  background: white;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: black;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding-left: 0.3rem;
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #a3a9cb;
}

/* .active {
  background: #a3a9cb;
} */

.menu-open {
  display: block;
  opacity: 1;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.filters-buttons button{
  border-radius: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  height: 2rem;
  margin-left: 2rem;
}

.filters-buttons button:hover {
  cursor: pointer;
  color: white;
  background-color: red;
  transition: 0.3s;
}

.filters-left {
  display: flex;
}

.lower{
  padding: 10px;
}

.analytics-nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: #41f1b6;
  border: 1px solid black;
  border-width: medium;
  border-left: none;
  border-right: none;
}

.analytics-nav * {
  box-sizing: border-box;
}

.analytics-nav-left {
  display: flex;
  align-items: center;
}

.analytics-nav-left h3{
  padding-left: 0.3rem;
}

.analytics-nav-right {
  width: 30rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.analytics-nav-right *{
  box-sizing: border-box;
}

.analytics-nav-right .courier-id {
  display: flex;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.analytics-nav-right .courier-id #search {
  border: none;
  background: white;
  border-radius: 0.3rem 0rem 0rem 0.3rem;
}

.analytics-nav-right .courier-id input {
  border: none;
  border-radius: 0rem 0.3rem 0.3rem 0rem;
}

.analytics-nav-right .courier-id input:focus{
  outline: none;
}

.analytics-nav-right-filters {
  padding: 0rem 0.5rem 0rem 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  margin-right: 0.3rem;
}


.analytics-nav-right-filters button{
  height: 25px;
  width: 4rem;
  border: none;
  margin-right: 0.5rem;
  background: white;
  border-radius: 0.3rem;
}

.analytics-nav-right-filters button:hover{
  border: 1px solid black;
}

.analytics-nav-right #move{
  height: 25px;
  width: 1.75rem;
  border: none;
  margin-right: 0.5rem;
  background: white;
  border-radius: 0.3rem;
}

.analytics-nav-right #move:hover{
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%; /* Adjust the table width as needed */
}
th, td {
  border-bottom: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

.footer{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-left{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
}

.footer-left h5{
  margin-right: 0.5rem;
}

.footer-right{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.footer-right *{
  box-sizing: border-box;
}

.footer-right button{
  height: 25px;
  width: 25px;
  padding: 0.2rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}

.footer-right #one{
  color: white;
  background-color: red;
}

.footer-right button:hover{
  transition: 0.3s;
  border: 1px solid black;  
}

